

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-image: url(./helper/background2.avif);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Segoe UI", 'Segoe UI', Tahoma, Verdana, sans-serif;
}
.title{
  color: black;
  background-color: rgba(250,251,251,0.5);
  padding: 5px;
  border-radius: 1rem;
  display: inline-block;
 
}
.title2{
  color: black;
  background-color: rgba(250,251,251,0.5);
  padding: 5px;
  display: inline-block;
  font-weight: 800;
  font-family: "Playfair Display", serif;
  font-size: 25px;
}
.card-container {
  background-color: rgb(11, 22, 35, 0.6);
  min-height: 350px;
}

.flag-card {
  height: 350px;
  overflow: hidden;
}
.flag-card:hover {
  box-shadow: 3px 3px 20px 5px rgba(0, 0, 0, 0.5);
  & img {
    transform: scale(1.1);
    filter: none;
  }
}
.flag-card img {
  /* filter:blur(3px); */
  transition: transform 0.3s;
  height: 100%;
  width: 100%;
  padding: 3px;
  /* filter: sepia(5); */
}
.text{
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  text-align: left;
  height: 100%;
  width: 100%;
  gap: 1rem;

}
.text .item{
  font-weight: 800;
  padding: 12px;
  
}